/** Objetivo
******************************************/

.objetivo {
    text-align: center;
    padding-top:20px;
    padding-bottom:50px;
}

.objetivo h2 {
    margin-bottom:40px;
}
.objetivo-desc {
    margin-top:40px;
    max-width: 1000px;
    background-color: #e6e6e6;
    border: 1px solid #efefef;
    padding:20px;
    font-size:20px;
    line-height: 35px;
    text-align: left;
    border-radius: 8px;
}

.objetivo-desc mark {
    color: #f5f5f5;
    background-color: #60a3bd;
    
}

.objetivo-desc a {
    text-decoration: none; 
    border-bottom:1px dotted;
    color:#3D7B94;
}

.objetivo-desc a:hover, 
.objetivo-desc a:active, 
.objetivo-desc a:visited,
.objetivo-desc a:link{
    color:#3D7B94;
}

.objetivo-desc a:hover {
    color: #f5f5f5;
    background-color: #60a3bd;
}