.no-js {
    /*padding-top: 106px;*/
}

/** Loading */
.loading {
    background: url('../../images/ico_loading.gif') no-repeat center center;
}

/** Section - Base  */
section {
    min-width: 960px;
    opacity: 0;
}

/** loaded & no-js */
.loaded section,
.no-js section {
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}

/** Main - Base */
main {
    overflow-x: hidden;
}

/** Background - Base */
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/** Container - Base */
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    padding: 0 8%;
    text-align: center
}

h2 {
    font-size:40px;
    padding:30px 0 30px 0;
}

p {
    font-size:20px;
}
/* Slide 1 */
#slide-1 .bcg {
    background-image:url('../../images/backgrounds/buenos_aires.jpg'); 
}
#slide-1 .title {
    color:#fff;
    font-size:50px;
    font-weight: 400;
    background-color: #3e7b95;
    padding:0px 10px;
}

/* Slide 2 */
#slide-2 .bcg {
    background: none; 
    background-color: #3e7b95; 
    color:#fff;
    min-height: 350px; 
    text-align: center;
}

#slide-2 p {
    margin:auto auto;
    max-width: 710px;
    text-align:center;
    font-size:20px;
    line-height: 30px;
}

/* Slide 3 */
#slide-3 .bcg {
    background-image:url('../../images/backgrounds/prox_meetup.jpeg')
}

/* Slide 4 */
#slide-4 .bcg {
    background: none; 
    background-color: #f5f5f5; 
    color:#3e7b95;
    text-align: center;
}

#slide-4 h3 {
    font-size:30px;
    margin-top:0;
}

/* Slide 5 */
#slide-5 .bcg {
    background-image:url('../../images/backgrounds/participar.jpeg');
    height: 400px;
}

/* Slide 6 */
#slide-6 .bcg {
    background: none; 
    background-color: #3e7b95; 
    color:#fff;
    min-height: 250px; 
    text-align: center;
}
#slide-6 .bcg .socialIcons a {
    font-size: 60px !important;
    color: #fff;
    margin:0 10px;
}

#slide-7 {
    background-color: #2C2C2C;
    color: #fff;
}
#slide-7 a {
    color: #fff;
}
#slide-7 .footer {
    text-align: left;
}
#slide-7 .footer .organizador {
    overflow:hidden;
    margin-bottom:20px;
    font-size: 18px;
}
#slide-7 .footer .organizador img {
    width:60px;
    height:60px;
    float:left;
    margin-right:5px;
}
