/** SOCIAL ICONS Nav
******************************************/
.social-icons {
    position:absolute;
    top:0;
    right:15px;
}

.social-icons a {
    color:  #F5F5F5;
    font-size:25px;
    margin-left:5px;
}

.social-icons a:hover {
    text-decoration: none;
}

.meetup {
    display: inline-block;
    padding: 0 .2em 0 0;
    text-align: center;
    margin:0;
    line-height: 30px;
}
.meetup:before { 
    font-family: zocial;
    font-size:1.6em;
    content: "\f13a"; 
}
