/** FONTS
******************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Open+Sans+Condensed:300,700);

/** GRAL
******************************************/
body {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color: #3D7B94;
}

/** SOCIAL ICONS
******************************************/
.social-icons {
    position:absolute;
    top:0;
    right:15px;
}
.social-icons a {
    color:  #F5F5F5;
    font-size:25px;
}

.social-icons a:hover {
    text-decoration: none;
}


/** HEADER
******************************************/
.header {
    background: #3D7B94;
    padding-top: 3em;
}
.header .logo {
    margin-bottom: 4em;
}


/** COUNTDOWN
******************************************/
.countdown {
    padding-top: 2em;
    background: #F5F5F5;
    padding-bottom: 2em;
    color: #3D7B94;
}
.countdown div.countdownClock {
    width: 60%;
    margin:2em auto;
}
.countdown .titulo {
    font-size: 3.5em;
}

.countdown .date-meetup {
    font-size: 2.5em;
    margin-bottom:15px;
}

.countdown .btn-meetup {
    background: #3D7B94;
    border-color: #3D7B94;
    color:#fff;
}

/** AGENDA
******************************************/
.agenda {
    background: #3D7B94;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #F5F5F5;
    font-size: 1.45em;
    line-height: 1.45em
}

.agenda .titulo {
    padding-bottom: 1em;
    font-size: 1.8em;
}

.agenda .row div.left {
    text-align: right;
    border-right: solid #F5F5F5 1px;
    padding: 0;
    vertical-align: middle;
    padding-bottom: 1em;

}
.agenda .row div.right {
    text-align: left;
    padding: 0;
    vertical-align: top;
    border-left: solid #F5F5F5 1px;
    margin-left: -1px;
    padding-bottom: 1em;
}

.time {
    width: 20%;
    font-weight: bold;
}
.agenda .row div.right .time {
    padding-left: 10px;
}
.agenda .row div.left .time {
    padding-right: 10px;
}
.agenda .text {
    width: 75%;
}
.agenda .point-left {
    background: url('../images/point.png');
    width: 5px;
    height: 10px;
    margin-top: 0.5em;
}
.agenda .point-right {
    background: url('../images/point.png') 0 -10px;
    width: 5px;
    height: 10px;
    margin-top: 0.5em;
}

.agenda .autor {
    color: #A7CCDA;
}



/** MAP
******************************************/
.map {
    background-color: #F5F5F5;
}

.map div {
    padding: 0px 0px 0px 0px;
}
.map .map_canvas {
    height: 400px;
}

.map .titulo {
    padding:1em 0 0.5em;
    color: #3D7B94;
    font-size: 1.84em;
}

.map img {
    margin-bottom: 1em;
}


/** MAP
******************************************/
.footer {
    color: #F5F5F5;
    background: #3D7B94;
    padding: 2em 0em;
}

.social-icons-footer {
    margin-top:2em;
}
.social-icons-footer a {
    color:  #F5F5F5;
    font-size:25px;
}

.social-icons-footer a:hover {
    text-decoration: none;
}
