/** Participar
******************************************/

.participar {
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
}

.participar .participar-social-icons {
    padding-top:20px;
}
.participar .participar-social-icons a {
    font-size: 70px;
    color:#f5f5f5;
    padding:0 20px 0 20px;
}

.participar .participar-social-icons a, 
.participar .participar-social-icons a:hover {
    text-decoration: none;
}

.participar .participar-desc {
    max-width: 800px;
    padding:20px;
    font-size:20px;
    line-height: 35px;
}
