/************************************************
 * Google map
 ***********************************************/

.map {
    padding-top:10px;
    padding-bottom:0px;
    border-bottom: 2px solid #F5F5F5;
    width:100%;
}
.map .map_canvas {
    height: 400px;
}

.map h2 {
    margin-bottom:10px;
}
